.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.points {
  width: "40px";
  height: "30px";
  display: "flex";
  align-items: "center";
  border: "3px";
  border-style: "solid";
  border-color: "blue";
  border-radius: "5px";
  background-color: "#6495ED";
  justify-content: "center";
  text-align: "center";
  position: "relative";
}


.App-link {
  color: #61dafb;
}

.toast {
  display: inline-block; 
  padding: 8px 16px; 
  background-color: #6495ED; 
  color:white; 
  border-radius: 3px; 
  min-width: 200px; 
  text-align: center; 
  margin-top: 1px; 
  height: "50%";
  vertical-align: middle; 

}
.points {
  width: "40px";
  height: "30px";
  display: "flex";
  align-items: "center";
  border: "3px";
  border-style: "solid";
  border-color: "blue";
  border-radius: "5px";
  background-color: "#6495ED";
  justify-content: "center";
  text-align: "center";
  position: "relative";
}
.right-container{
  margin-left: 15%; 
  margin-right: 15%;
  top: 75%;
  position: absolute;
  width: 70%;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
 }
 .letter{
  
 }
.paper-style  {
  top: 5em;
  padding: 4% 4%;
  width:40%;
  margin: 1% auto;
  gap: 1%;
  position: relative;
  background-color: #FDF5E6;
  text-align: center;
}
.img-box
{
font-size:large;
margin-bottom: 8%;
}
.logo{
  height: 3%;
  vertical-align: middle; 
}
.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.first-container{ 
  flex: 9;
  display: "flex";
  flex-direction: "column";
}
.footer-container{
  top: 150%;
  position: absolute;
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
 }
 .button-exercise{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .main-row{
 
    display: flex;
    width: 100%;
    flex-direction: row,

 }
 .footer{
  flex: 1;
 }
 .console-container {
  position: relative;
  width: 90%;
  padding: 1% 1%;
  border: "1%";
  border-style: solid;
  border-color: white;
  background-color: grey;
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 1%;
  flex-direction: column;
  flex-basis: 50%;
  margin-top: 2%;
}
.console-board {
  position: relative;
  width: 95%;
  padding: 1% 1%;
  border: 1%;
  background-color: black;
  border-color: white;
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 1%;
  flex-direction: column;
  flex-basis: 55%;
  margin-top: 2%;
}
.expected-output {
  position: relative;
  padding:1%;
  background-color: #000 !important;
  color:#fff !important;
  width: 90%;
  margin-left: 5%;
  display: block;
  justify-content: center;
  flex-direction: row;
  font-weight: lighter;
}
.check{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: "auto";
}
.header-container{
  display: flex;
  flex: 9;
  flex-direction: row;
  align-items: center;
  margin: 2%;
  gap: 20px;
  
  justify-content: space-between;
}
.header-container-exercise{
  display: flex;
  flex: 7;
  flex-direction: row;
  align-items: center;
  margin: 2%;
  gap: 20px;
  
  justify-content: space-between;
}
.option{
  display: flex;
  flex: 9;
  flex-direction: row;
  align-items: center;
}
.console{
  position: relative;
  height: 500px;
  width: 100%;
  background-color: "#000";
  color: #fff;
  & .MuiInputBase-input {
    color: #fff
  };
  & .MuiFormLabel-root {
    color: #fff;
  }
}
.output{
  position: relative;
  background-color: #000 !important;
  color: #fff !important;
  width: 90%;
  margin-top: 1%;
  display: block;
  padding: 1%;
  justify-content: center;
  flex-direction: row;
  font-weight: lighter;
}
.info-box{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.points {
  display: flex;
  align-items: center;
  border: 3px;
  margin: 10px;
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  background-color: #6495ED;
  justify-content: center;
  text-align: center;
}
.person-info
{
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
}
.role-description
{
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
}
.right-info
{
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%
 
}
.right-info-exercise
{
  flex:3 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%
 
}
.right-info-solution
{
  flex:4 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%
 
}
.button-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sthelse
{
    position: "relative";
    color:black;
    text-align: "center";
}

.paper{
    top: 4em;
    padding: 50px 20px;
    width: 470;
    margin: 20px auto;
    position: relative;
}
.main{
 height: 100%;
}
